/* Main Button */
.btn {
  display: flex;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
}

.btn:hover {
  transition: 0.5s linear;
}

.btn-primary {
  padding: 16px 32px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 100px;
  color: var(--dark, #222831);
  font-size: 14px;
}

/* cta button */
/* Mobile */
.call-to-action-btn {
  display: flex;
  padding: 24px 64px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--primary, #5d50c6);
  color: var(--white, #fff);
  border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.1));
}

.call-to-action-btn:hover {
  transition: 0.2s linear;
  opacity: 0.8;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .call-to-action-btn {
    padding: 32px 64px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 32px;
    border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.1));
    background: var(--primary, #5d50c6);
    color: var(--white, #fff);
    text-align: center;
    font-size: 23px;
  }
}

/* Arrow button */
/* Mobile */
.arrow-btn {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.arrow-btn:hover {
  transition: 0.5s;
  box-shadow: 0 0 #0000001a, 0 5px 11px #0000001a, 0 20px 20px #00000017,
    0 45px 27px #0000000d, 0 81px 32px #00000003, 0 126px 35px #0000;
}

.arrow-left-btn {
  background-position: -333px -1px;
  border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.1));
}

.arrow-right-btn {
  background-position: -442px -9px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .arrow-btn {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
  }

  .arrow-btn:hover {
    transition: 0.5s;
    box-shadow: 0 0 #0000001a, 0 5px 11px #0000001a, 0 20px 20px #00000017,
      0 45px 27px #0000000d, 0 81px 32px #00000003, 0 126px 35px #0000;
  }

  .arrow-left-btn {
    background-position: -41px -1px;
    border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.1));
  }

  .arrow-right-btn {
    background-position: -187px -8px;
  }
}
