.header {
    display: flex;
    width: 1184px;
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-logo-img {
    width: 40px;
    height: 40px;
}

.header-logo-text {
    color: var(--black, #191825);
    font-size: 24px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

.header-btn {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.header-list {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

/* .header-test {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
} */

.header-list li a {
    color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.50));
    font-size: 14px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.header-list li a:hover {
    color: var(--dark, #222831);
}

.header-list li a:active {
    color: var(--dark, #222831);
}

