/* Main Button */

.btn {
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #d9d9d9;
    background: var(--white, #fff);
    color: var(--dark, #222831);
    font-size: 14px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.btn:hover {
    background: var(--primary, #5d50c6);
    color: var(--light, #eee);
}

/* cta button */

.cta-btn {
    display: flex;
    padding: 32px 64px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 32px;
    border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.10));
    background: var(--primary, #5d50c6);
    color: var(--white, #fff);
    text-align: center;
    font-size: 23px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

/* Arrow button */

.arrow-left-btn {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.10));
    background-color: #fff;
    background-image: url(../../src/assets/images/components/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-right-btn {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.10));
    background-color: #5d50c6;
    background-image: url(../../src/assets/images/components/arrow-right-2.png);
    background-repeat: no-repeat;
    background-position: center;
}