/* Button component */
.btn {
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #D9D9D9;
    background: var(--white, #FFF);

    color: var(--dark, #222831);
    font-size: 14px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.btn:hover {
    background: var(--primary, #5D50C6);

    color: var(--light, #EEE);
}



