
.call-to-action {
    display: flex;
    width: 1056px;
    padding: 128px 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    margin: 177px 0px 64px;
    border-radius: 32px;
    background: rgba(250, 205, 73, 0.08);
}

.call-to-action .call-to-action-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
}

.call-to-action .call-to-action-title-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.call-to-action .call-to-action-name {
    text-align: center;
}

.call-to-action .call-to-action-title {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black, #191825);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 1056px;
}

.call-to-action .call-to-action-send {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
}

.call-to-action .call-to-action-textbox {
    display: flex;
    padding: 32px;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 32px;
    background: var(--white, #fff);
}

.call-to-action .call-to-action-text {
    color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
    text-align: center;
    font-family: var(--primary-font);
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border: none;
    outline: none;
    text-align: start;
}