/* Mobile */
.main-footer {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  flex-shrink: 0;
}

.main-footer .main-footer-overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.main-footer .main-footer-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.main-footer .main-footer-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-footer .main-footer-logo-img {
  width: 40px;
  height: 40px;
}

.main-footer .main-footer-logo-text {
  color: var(--black, #191825);
  font-family: var(--primary-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}

.main-footer .main-footer-text {
  align-self: stretch;
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 160%;
}

.main-footer .main-footer-social {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.main-footer .main-footer-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.main-footer .main-footer-fb {
  background-position: 0 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.main-footer .main-footer-tw {
  background-position: -32px 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.main-footer .main-footer-in {
  background-position: -64px 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.main-footer .main-footer-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.main-footer .main-footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.main-footer .main-footer-list-title {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  font-family: var(--primary-font);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.main-footer .main-footer-item {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.main-footer .main-footer-item:hover {
  color: #191825;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .main-footer {
    padding: 64px 0px;
  }

  .main-footer .main-footer-frame {
    flex-direction: row;
    flex: 1;
  }

  .main-footer .main-footer-nav {
    flex-grow: 2;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main-footer {
    width: 1184px;
    margin-bottom: 27px;
    flex-direction: row;
  }

  .main-footer .main-footer-overview {
    gap: 64px;
    flex: 1 0 0;
  }

  .main-footer .main-footer-text {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    width: 561px;
  }
}
