
.hero {
    display: flex;
    width: 1184px;
    padding: 64px 0px;
    align-items: center;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
    flex: 1 0 0;
    width: 574px;
    height: 548px;
}

.hero .hero-top-content {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 16px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07), 0px 34px 75px 0px rgba(0, 0, 0, 0.07), 0px 137px 137px 0px rgba(0, 0, 0, 0.06), 0px 308px 185px 0px rgba(0, 0, 0, 0.04), 0px 548px 219px 0px rgba(0, 0, 0, 0.01), 0px 856px 240px 0px rgba(0, 0, 0, 0.00);
    color: var(--secondary, #f85e9f);
    font-size: 14px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.hero .hero-title {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #000;
    font-size: 69px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 70%;
}

.hero .title-mark {
    background-color: #fff;
    color: #f85e9f;
    font-size: 69px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}


.hero .hero-text {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.50));
    font-size: 18px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 70%;
}

.hero .hero-btn {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.hero .hero-watch-btn {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--light, #eee);
    background: var(--white, #fff);
    color: var(--dark, #222831);
    font-family: 'Circular Std';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.hero .hero-watch-btn:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 
    0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 
    0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
    transition: 0.5s linear;
}

.hero .hero-started-btn {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 
    0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 
    0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
    border: none;
    background: var(--primary, #5d50c6);
    color: var(--light, #eee);
    padding: 21px 32px;
}

.hero .hero-started-btn:hover {
    opacity: 0.8;
}

.hero .hero-banner {
    width: 575px;
    height: 638px;
    flex-shrink: 0;
}

.hero .hero-send-icon {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 100px;
    background: var(--secondary, #f85e9f);
    box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0.00);
    position: relative;
    left: auto;
    right: 35px;
    bottom: 370px;
}

.hero .hero-add-icon {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 100px;
    background: var(--orange, #ff5722);
    box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0.00);
    position: relative;
    bottom: 60px;
    left: 315px;
}

.hero .hero-img {
    display: inline-flex;
    align-items: center;
    gap: 31px;
}

.hero .hero-img-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}