
.services {
    display: flex;
    width: 1536px;
    padding: 64px 0px;
    align-items: center;
    height: 443px;
}

.services .services-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.services .services-box {
    display: flex;
    align-items: flex-start;
    gap: 21px;
    flex-shrink: 0;
    overflow-x: auto;
}

.services .services-items {
    display: flex;
    height: 315px;
    width: 222px;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    border-radius: 32px;
    border: 1px solid rgba(25, 24, 37, 0.10);
    background: #fff;
    cursor: pointer;
}

.services .services-items:hover{
    display: flex;
    height: 315px;
    width: 222px;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    border-radius: 32px;
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 41px 89px 0px rgba(0, 0, 0, 0.10);
}


.services .services-box-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.services .services-box-title {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black, #191825);
    text-align: center;
    font-size: 28px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.services .services-box-text {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.50));
    text-align: center;
    font-size: 18px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}