/* Mobile */
.services {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.services .services-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	align-self: stretch;
}

.services .services-name{
	text-align: center;
	font-size: 16px;
	letter-spacing: 3.2px;
}

.services .services-title {
	text-align: center;
	font-size: 32px;
}

.services .services-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: center;
}

.services .services-items {
	display: flex;
	max-width: 334px;
	padding: 32px;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	align-self: stretch;
	border-radius: 32px;
	border: 1px solid rgba(25, 24, 37, 0.10);
	background: #fff;
	cursor: pointer;
}

.services .services-items:hover {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
		0px 41px 89px 0px rgba(0, 0, 0, 0.1);
		transition: 0.25s ease;
}

.services .services-box-inside {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	align-self: stretch;
}

.services .services-box-title {
	align-self: stretch;
	color: var(--grey-scale-black, #191825);
	text-align: center;
	font-family: var(--primary-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.services .services-box-text {
	align-self: stretch;
	color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.50));
	text-align: center;
	font-family: var(--secondary-font);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.services {
		padding: 64px 0px;
		gap: 64px;
	}

	.services .services-name{
		text-align: center;
		font-size: 23px;
		letter-spacing: 4.6px;
	}
	
	.services .services-title {
		font-size: 40px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.services .services-box {
		flex-direction: row;
	}

	.services .services-items {
		padding: 64px;
		gap: 64px;
	}

	.services .services-box-title {
		font-size: 28px;
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .services {
    padding: 64px 0px;
    height: 443px;
		gap: 64px;
		justify-content: inherit;
		flex-direction: row;
  }

  .services .services-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
		width: 444px;
		justify-content: center;
  }

	.services .services-name {
		text-align: inherit;
	}

	.services .services-title {
		text-align: inherit;
	}

  .services .services-box {
    display: flex;
    align-items: flex-start;
    gap: 21px;
    flex-shrink: 0;
    overflow-x: auto;
		flex: 2;
  }

  .services .services-items {
    display: flex;
    height: 315px;
    width: 222px;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    flex: 2 0 222px;
    border-radius: 32px;
    border: 1px solid rgba(25, 24, 37, 0.1);
    background: #fff;
    cursor: pointer;
  }
}


/* .services {
	display: flex;
}

.services .services-content {
	width: 444px;
}

.services-box {
	flex: 1;
	display: flex;
	gap: 21px;
	overflow-x: scroll;
}

.services-items {
	flex: 1 0 350px;
} 
*/