/* Mobile */
.top-destination {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.top-destination .top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.top-destination .top-destination-text-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.top-destination .top-destination-name {
  text-align: center;
  font-size: 16px;
  letter-spacing: 3.2px;
}

.top-destination .top-destination-title {
  text-align: center;
  font-size: 32px;
}

.top-destination .top-destination-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

/* list */
.top-destination .top-destination-frame {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.top-destination .top-destination-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 32px;
  cursor: pointer;
}

.top-destination .top-destination-box:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
  transition: 0.2s;
}

/* .top-destination .top-destination-img-frame {
  border-radius: 32px 32px 0px 0px;
  overflow: hidden;
  height: 100%;
  max-height: fit-content;
} */

.top-destination .top-destination-img {
  width: 100%;
  object-fit: fill;
  flex: 1 0 0;
  align-self: stretch;
}

/* .top-destination .top-destination-box:hover .top-destination-img {
  transform: scale(1.05);
  transition: 0.5s linear;
} */

.top-destination .top-destination-inside {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 0px 0px 32px 32px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}

.top-destination .top-destination-content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.top-destination .top-destination-contain {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.top-destination .top-destination-des {
  align-self: stretch;
  color: var(--grey-scale-black, #191825);
  font-family: var(--primary-font);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.top-destination .top-destination-price {
  font-size: 23px;
}

.top-destination .top-destination-area {
  align-self: stretch;
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.top-destination .top-destination-star {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--orange, #ff5722);
  font-size: 23px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.top-destination .top-destination-star-img {
  background-image: url(../../assets/images/top-destination/star.svg);
  width: 24px;
  height: 24px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .top-destination {
    padding: 64px 0px;
    gap: 67px;
  }

  .top-destination .top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }

  .top-destination .top-destination-name {
    font-size: 23px;
    letter-spacing: 4.6px;
  }

  .top-destination .top-destination-title {
    font-size: 40px;
  }

  .top-destination .top-destination-btn {
    gap: 32px;
    justify-content: inherit;
  }

  .top-destination .top-destination-frame {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    gap: 31px;
  }

  .top-destination .top-destination-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    cursor: pointer;
  }

  /* .top-destination .top-destination-img-frame {
    flex: 1 0 0;
    align-self: stretch;
  } */

  .top-destination .top-destination-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .top-destination .top-destination-contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .top-destination {
    display: inline-flex;
    padding: 64px 0px;
    gap: 64px;
    align-items: flex-start;
  }

  .top-destination .top-content {
    width: 1184px;
    flex-direction: row;
  }

  .top-destination .top-destination-text-group {
    flex: 1 0 0;
  }

  .top-destination .top-destination-name {
    font-size: 23px;
    letter-spacing: 4.6px;
    text-align: inherit;
  }

  .top-destination .top-destination-title {
    font-size: 44px;
    text-align: inherit;
  }

  .top-destination .top-destination-frame {
    display: flex;
    width: 1184px;
    align-items: flex-start;
    gap: 32px;
  }

  .top-destination .top-destination-box {
    display: flex;
    height: 575px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    cursor: pointer;
  }

  .top-destination .top-destination-contain {
    flex-direction: row;
  }
}
