
.top-destination {
    display: inline-flex;
    padding: 64px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.top-destination .top-content{
    display: flex;
    width: 1184px;
    align-items: center;
}

.top-destination .top-destination-text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.top-destination .top-destination-name {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--secondary, #f85e9f);
    font-size: 23px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 4.6px;
    text-transform: uppercase;
}

.top-destination .top-destination-title {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black, #191825);
    font-size: 44px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.top-destination .top-destination-btn {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.top-destination .top-destination-frame {
    display: flex;
    width: 1184px;
    align-items: flex-start;
    gap: 32px;
}

.top-destination .top-destination-box {
    display: flex;
    height: 575px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    cursor: pointer;
}

.top-destination .top-destination-img-frame {
    border-radius: 32px 32px 0px 0px;
    width: 373px;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
}

.top-destination .top-destination-box:hover .top-destination-img {
    transform: scale(1.05);
    transition: 0.5s linear;
}

.top-destination .top-destination-inside {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-radius: 0px 0px 32px 32px;
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 32px 71px 0px rgba(0, 0, 0, 0.05), 
    0px 128px 128px 0px rgba(0, 0, 0, 0.04), 0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 801px 224px 0px rgba(0, 0, 0, 0.00);
}

.top-destination .top-destination-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.top-destination .top-destination-contain {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.top-destination .top-destination-des {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    color: var(--grey-scale-black, #191825);
    font-size: 23px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.top-destination .top-destination-price {
    color: var(--secondary, #f85e9f);
    font-size: 23px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.top-destination .top-destination-area {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
    font-size: 18px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.top-destination .top-destination-star {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--orange, #ff5722);
    font-size: 23px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}