/* Mobile */
.travel-point {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.travel-point .travel-point-img {
  object-fit: fill;
  width: 100%;
}

.travel-point .travel-point-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.travel-point .travel-point-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.travel-point .travel-point-title-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.travel-point .travel-point-name {
  font-size: 16px;
  letter-spacing: 3.2px;
  text-align: center;
}

.travel-point .travel-point-title {
  font-size: 32px;
  text-align: center;
}

.travel-point .travel-point-text {
  align-self: stretch;
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-size: 16px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
}

.travel-point .travel-point-box-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.travel-point .travel-point-combo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.travel-point .travel-point-item {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.1));
  background: var(--white, #fff);
	cursor: pointer;
}

.travel-point .travel-point-item:hover {
  transition: 0.5s;
  box-shadow: 0 0 #0000001a, 0 5px 11px #0000001a, 0 20px 20px #00000017,
    0 45px 27px #0000000d, 0 81px 32px #00000003, 0 126px 35px #0000;
}

.travel-point .travel-point-number {
  color: var(--orange, #ff5722);
  font-family: var(--primary-font);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.travel-point .travel-point-detail {
  color: var(--grey-scale-black, #191825);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

	.travel-point .travel-point-img {
		object-fit: fill;
		width: 65%;
	}

  .travel-point .travel-point-name {
    font-size: 23px;
    letter-spacing: 4.6px;
  }

  .travel-point .travel-point-title {
    font-size: 40px;
  }

  .travel-point .travel-point-text {
    font-size: 18px;
  }

  .travel-point .travel-point-box-frame {
    gap: 32px;
  }

  .travel-point .travel-point-combo {
    flex-direction: row;
    gap: 32px;
  }

  .travel-point .travel-point-item {
    flex: 1 0 0;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .travel-point {
    width: 1184px;
    padding: 64px 0px;
    align-items: flex-end;
    flex-direction: row;
    gap: 70px;
  }

  .travel-point .travel-point-name {
    font-size: 23px;
    letter-spacing: 4.6px;
		text-align: inherit;
  }

  .travel-point .travel-point-title {
    font-size: 44px;
		text-align: inherit;
  }

	.travel-point .travel-point-text {
		text-align: inherit;
	}

  .travel-point .travel-point-img {
    width: 522px;
    height: 697px;
  }

  .travel-point .travel-point-frame {
    gap: 64px;
  }
}
