/* SET FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: 'Circular Std';
  src: url("../assets/fonts");
  /* src: url("../assets/fonts/CircularStd-Medium.woff2") format("woff2"); */
  src: url("../assets/fonts/circular-std-medium-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CSS VARIABLES */
:root {
    --primary-font: 'Circular Std';
    --secondary-font: 'Inter';
    --primary-color: #5d50c6;
    --secondary-color: #f85e9f;
    --background: #fff;
}

/* global class*/

a {
  text-decoration: none;
}