
.key-features {
    display: flex;
    width: 1184px;
    padding: 64px 0px;
    align-items: flex-start;
    gap: 70px;
}

.key-features .key-features-img {
    width: 524px;
    height: 772px;
    flex-shrink: 0;
    border-radius: 40px;
}

.key-features .key-features-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    flex: 1 0 0;
}

.key-features .key-features-text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.key-features .key-features-title-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.key-features .key-features-name {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--secondary, #F85E9F);
    font-family: Circular Std;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 4.6px;
    text-transform: uppercase;
}

.key-features .key-features-title {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black, #191825);

    /* H3 */
    font-family: Circular Std;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.key-features .key-features-text {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.50));

    /* Body */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.key-features .key-features-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.key-features .key-features-item {
    display: flex;
    padding: 32px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 32px;
    background: var(--white, #FFF);
}

.key-features .key-features-item:hover{
    border: 1px solid var(--grey-scale-black-10, rgba(25, 24, 37, 0.10));
}

.key-features .key-features-icon-gps {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #FF5722 url(../assets/images/key-features/location.svg) center / auto no-repeat;
}

.key-features .key-features-icon-calendar {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #FACD49 url(../assets/images/key-features/calendar.svg) center / auto no-repeat;
}

.key-features .key-features-icon-ticket {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #F85E9F url(../assets/images/key-features/ticket.svg) center / auto no-repeat
}

.key-features .key-features-item-text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.key-features .key-features-item-title {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black, #191825);

    /* H6 */
    font-family: Circular Std;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
