
.top-destination {
    display: inline-flex;
    padding: 64px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    /* margin-left: 359.5px;
    margin-right: 359.5px; */
}

.top-destination .top-content{
    display: flex;
    width: 1184px;
    align-items: center;
}

.top-destination .top-content .td-text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.top-destination .top-content .td-text-group .td-name {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--secondary, #F85E9F);
    font-size: 23px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 4.6px;
    text-transform: uppercase;
}

.top-destination .top-content .td-text-group .td-title {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black, #191825);
    font-size: 44px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.top-destination .top-content .td-btn {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.top-destination .td-frame {
    display: flex;
    width: 1184px;
    align-items: flex-start;
    gap: 32px;
}

.top-destination .td-frame .td-box {
    display: flex;
    height: 575px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.top-destination .td-frame .td-box .td-inside {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-radius: 0px 0px 32px 32px;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 32px 71px 0px rgba(0, 0, 0, 0.05), 0px 128px 128px 0px rgba(0, 0, 0, 0.04), 0px 288px 173px 0px rgba(0, 0, 0, 0.03), 0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 801px 224px 0px rgba(0, 0, 0, 0.00);
}

.top-destination .td-frame .td-box .td-inside .td-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.top-destination .td-frame .td-box .td-inside .td-content-box .td-contain {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.top-destination .td-frame .td-box .td-inside .td-content-box .td-contain .td-des {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    color: var(--grey-scale-black, #191825);
    font-size: 23px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.top-destination .td-frame .td-box .td-inside .td-content-box .td-contain .td-price {
    color: var(--secondary, #F85E9F);
    /* H6 */
    font-size: 23px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.top-destination .td-frame .td-box .td-inside .td-content-box .td-area {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
    /* Body */
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.top-destination .td-frame .td-box .td-inside .td-star {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--orange, #FF5722);
    /* H6 */
    font-size: 23px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}