
.travel-point {
    display: flex;
    width: 1184px;
    padding: 64px 0px;
    align-items: flex-end;
    gap: 70px;
}

.travel-point .tp-img {
    width: 522px;
    height: 697px;
    flex-shrink: 0;
    border-radius: 40px;
}

.travel-point .tp-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    flex: 1 0 0;
}

.travel-point .tp-frame .tp-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

