/* Set font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@font-face {
  font-family: "Circular Std";
  src: url("../../assets/fonts/circular-std-medium-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* CSS variables */
:root {
  --primary-font: "Circular Std";
  --secondary-font: "Inter";
  --primary-color: #5d50c6;
  --secondary-color: #f85e9f;
  --background: #fff;
}

/* Global class*/
html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.name {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-weight: 700;
  line-height: 120%;
  font-family: var(--primary-font);
  font-style: normal;
}

.name.name-section {
  color: var(--secondary, #f85e9f);
  font-size: 23px;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}

.name.name-title {
  color: var(--grey-scale-black, #191825);
  font-size: 44px;
}

.text {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.components-sprite {
  background-image: url(../../assets/images/components/components-sprite.png);
  background-repeat: no-repeat;
}

.social-sprite {
  background-image: url(../../assets/images/footer/icon-sprite.png);
  background-repeat: no-repeat;
}
